<!DOCTYPE html>

{% extends 'base.html' %}
    <!-- HERO -->

{% block departure1 %}
    <div class="jumbotron text-center mt-4">
      <h1 class="display-4">Все горящие туры!</h1>
      <p class="lead">{{ title }}</p>
      <p class="mt-5 w-50 mx-auto">{{ logo }}</p>
    </div>
{% endblock %}
    <!-- CARDS -->
{% block departure2 %}
    <div class="row mt-5" data-test="cards">
        {% for i in about_tour %}
        {% if d == about_tour[i].departure %}
        <div class="col-4" data-test="card">
            <div class="card mb-3" >
            <img src="{{ about_tour[i].picture }}" class="card-img-top img-fluid" data-test="picture">
            <div class="card-body">
              <h5 class="card-title">{{ about_tour[i].title }}</h5>
             <p class="card-text">{{ about_tour[i].description|truncate(90) }}</p>
                <a href="/tour/{{i|int}}" class="btn btn-sm btn-primary" data-test="tourlink">Подробнее</a>
            </div>
        </div>
        </div>{% endif %}{% endfor %}
    </div>
{% endblock %}
