<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stepik Travel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container mt-3">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Stepik doesn't Travel</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" data-test="navigation">{% for about_departures_key,about_departures_value in about_departures.items() %}
          <li class="nav-item active">
            <a class="nav-link" href="/departure/{{ about_departures_key }}" data-test="navlink">{{ about_departures_value }}</a>
          </li>{% endfor %}
        </ul>
      </div>

    </nav>
            {% set min = info_tour|min(attribute="price") %}
            {% set max = info_tour|max(attribute="price") %}
    {% set min_1 = info_tour|min(attribute="nights") %}
    {% set max_1 = info_tour|max(attribute="nights") %}
    <h1 class="display-5 mt-4">Летим <span data-test="from">{{ lst_departures|random }}</span></h1>
    <p class="mb-4" >Найдено <span data-test="tourcount">{{ about_tour|length }}</span> туров, от <span data-test="pricemin">{{ min.price }}</span> до <span data-test="pricemax">{{ max.price }}</span> и от <span data-test="nightsmax">{{ min_1.nights }}</span> ночей до <span data-test="nightsmax">{{ max_1.nights }}</span> ночей</p>
    <!-- HERO -->



    <!-- CARDS -->

      <div class="row mt-5" data-test="cards">
            {% for i in  random_tours %}
        <div class="col-4" data-test="card">
            <div class="card mb-3" >
            <img src="{{ about_tour[i].picture }}" class="card-img-top img-fluid" data-test="picture">
            <div class="card-body">
              <h5 class="card-title">{{ about_tour[i].title }}</h5>
             <p class="card-text">{{ about_tour[i].description|truncate(90) }}</p>
                <a href="/tour/{{i|int}}" class="btn btn-sm btn-primary" data-test="tourlink">Подробнее</a>
            </div>
        </div>
        </div>{% endfor %}

    </div>

</div>

</body>
</html>