<!DOCTYPE html>
{% extends 'base.html' %}
{% block tour1 %}
    <h1 class="display-3 mt-4" data-test="title">{{ about_tour.title }}</h1>
{% endblock %}
    <!-- HERO -->
{% block tour2 %}
    <p class="lead" data-test="lead"><span data-test="country">{{ about_tour.country }}</span><span data-text="departure"> {{ about_departures[about_tour.departure] }}</span> <span data-text="nights">на {{ about_tour.nights }}</span> ночей</p>

    <img data-test="picture" src="{{ about_tour.picture }}" class="w-75" alt="{{ about_tour.stars }}">

    <p class="my-4 w-75" data-test="description">{{ about_tour.description }}</p>

    <a href="https://www.paypal.com/ua/home" class="btn btn-success btn-lg" data-test="buybutton">Купить тур за <span data-test="price">{{ about_tour.price }}</span></a>
{% endblock %}
